version: '3.7'

services:
  # MySQL
  mysql2:
    build:
      context: .
      dockerfile: mysql.Dockerfile
    container_name: mysql2
    environment:
      MYSQL_DATABASE: 'doran'
      MYSQL_ROOT_PASSWORD: '1234'
    volumes:
      - ./db/my.conf:/etc/mysql/my.conf
    ports:
      - 23306:3306
    # restart: always
